* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  text-decoration: none;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--white);
  font-size: 0.9375rem;
  padding-top: 4.6875em;
  position: relative;
  background-image: url(images/bg-pattern-top-desktop.svg),
    url(images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: auto, contain;
  background-position: left 0em top 0em, right -18.75em bottom 0em;
}

img {
  width: 1.0625em;
  height: 1em;
}

:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  --grayish-magenta-100: hsl(303, 10%, 53%);
  --grayish-magenta-200: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);

  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
}

.main-container {
  padding: 1.5625em;
  margin-top: 20px;
}

.product-wrapper {
  text-align: center;
}

.intro-title {
  color: var(--very-dark-magenta);
  font-size: 2.4rem;
  font-weight: var(--fw-700);
  line-height: 0.8;
}

.intro-desc {
  color: var(--grayish-magenta-100);
  margin: 1.875em 0 4.6875em 0;
  font-size: 1.1rem;
  font-weight: var(--fw-500);
  line-height: 1.5;
}

.rating {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rating-content {
  background-color: var(--grayish-magenta-200);
  border-radius: 0.6rem;
  padding: 0.8125em;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  min-height: 4.6875em;
  justify-content: space-between;
  transition: all ease-in 400ms;
}

.rating-content:hover {
  background-color: hsl(300, 41%, 90%);
}

.stars {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
}

.rating-text {
  color: var(--very-dark-magenta);
  font-size: 1rem;
  font-weight: var(--fw-700);
}
.testimonials-container {
  margin: 3.125em 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.testimonials-user {
  background-color: var(--very-dark-magenta);
  border-radius: 0.6rem;
  padding: 1.875em;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}

.user-detail {
  display: flex;
  gap: 1.25em;
}

.user-img {
  width: 2.5em;
  height: auto;
  border-radius: 50%;
  transition: all ease-in 400ms;
}

.user-name {
  color: var(--grayish-magenta-200);
  font-weight: var(--fw-500);
}

.user-sub-title {
  color: var(--soft-pink);
  font-weight: var(--fw-400);
  font-size: 1.1rem;
}

.testimonials-desc {
  color: var(--grayish-magenta-200);
  line-height: 1.5;
  font-size: 1.1rem;
  font-weight: var(--fw-400);
}
@media (min-width: 1300px) {
  .main-container {
    max-width: 69.375rem;
  }

  body {
    padding: 0 10.3125rem;
  }

  .product-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .intro-content {
    width: min(100%, 26.25rem);
    display: flex;
    flex-direction: column;
  }

  .intro-title {
    text-align: left;
    font-size: 3.2rem;
    line-height: 1;
  }

  .intro-desc {
    text-align: left;
    margin-bottom: 0;
  }

  .rating {
    align-self: center;
  }

  .rating-content {
    min-width: 27.8125rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-height: 3.4375rem;
  }

  .stars {
    display: flex;
    flex-direction: row;
    margin: 0 1.5625rem;
  }

  .rating-1 {
    transform: translateX(-5.625rem);
  }

  .rating-2 {
    transform: translateX(-2.8125rem);
  }

  .testimonials-container {
    width: 100%;
    margin-top: 4.6875rem;
    display: flex;
    flex-direction: row;
    gap: 1.875rem;
  }

  .testimonials-user {
    width: min(100%, 21.875rem);
    min-height: 14.6875rem;
    transition: all ease-in 400ms;
  }

  .testimonials-user:hover {
    background-color: hsla(300, 43%, 22%, 0.8);
  }

  .testimonials-user:hover .user-img {
    transform: rotateY(360deg);
  }

  .testimonials-desc {
    font-size: 1rem;
  }

  .testimonials-2 {
    transform: translateY(1rem);
  }

  .testimonials-2:hover {
    transform: translateY(0rem);
  }

  .testimonials-3:hover {
    transform: translateY(1rem);
  }

  .testimonials-3 {
    transform: translateY(2rem);
  }
}

.testimonials-user:hover {
  background-color: hsla(300, 43%, 22%, 0.9);
}

.attribution {
  font-size: 1rem;
  text-align: center;
  color: hsl(0, 0%, 13%);
  position: absolute;
  bottom: 1%;
}

.attribution a {
  color: var(--very-dark-magenta);
  font-weight: var(--fw-700);
}

.attribution a:hover {
  opacity: 0.7;
}

.attribution a:focus-visible {
  outline: 2px dashed hsl(209, 54%, 33%);
}

@media (hover: hover) {
  .rating-content:hover {
    background-color: hsl(300, 41%, 90%);
  }

  .testimonials-user:hover {
    background-color: hsla(300, 43%, 22%, 0.8);
  }

  .testimonials-user:hover .user-img {
    transform: rotateY(360deg);
  }

  .testimonials-2:hover {
    transform: translateY(0rem);
  }

  .testimonials-3:hover {
    transform: translateY(1rem);
  }
}
